.project
.pydevproject
.settings
.DS_Store
*.pyc
*~
*.sqlite
*.sqlite-journal
settings_local.py
.*.sw[po]
*.kpf
dist/
*.egg-info
doc/__build/*
pip-log.txt
devdatabase.db
parts
eggs
bin
developer-eggs
develop-eggs
downloads
.installed.cfg
chishop/media/dists/*
chishop/haystack/*
